<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Skins, Skins y más Skins</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">
	<style>
		.modal {
			display: none;
			align: center;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div style=" background-color: #300047; border-left: 2px;" class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ">
				<li class="nav-item border border-dark"><a style="color: white; ;" class="nav-link" th:href="@{/}">
						Inicio</a></li>
				<li class="nav-item border border-dark"><a style="color: white; " class="nav-link"
						th:href="@{/armas/crear}">Insertar un arma</a></li>
			</ul>
		</div>
	</nav>

	<div class="container mt-5">
		<center>
			<h1 class="text-ligth font-weight-bold mb-4" th:text="${titulo}"></h1>
		</center>
		<table class="table table-striped text-ligth">
			<thead class="text-ligth">
				<tr>
					<th style="color: white; background-color: #300047; border-color: black; border-width: 2px;">Nombre
						del arma</th>
					<th style="color: white; background-color: #300047; border-color: black; border-width: 2px;">Nombre
						de la skin</th>
					<th style="color: white; background-color: #300047; border-color: black; border-width: 2px;">Precio
						de la skin</th>
					<th style="color: white; background-color: #300047; border-color: black; border-width: 2px;">Editar
					</th>
					<th style="color: white; background-color: #300047; border-color: black; border-width: 2px;">
						Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="arma: ${armas}">
					<td style="background-color: #55017d; border-color: black; border-width: 2px;"><a
							style="color: #f587d6;" th:href="@{/armas/detalles/{id}(id=${arma.id})}"
							th:text="${arma.nombre_Arma}"></a></td>
					<td style="color: #f587d6; background-color: #55017d; border-color: black; border-width: 2px;"
						th:text="${arma.nombre_Skin}"></td>
					<td style="color: #f587d6; background-color: #55017d; border-color: black; border-width: 2px;"
						th:text="${arma.precio} + '€'"></td>
					<td style="color: #f587d6; background-color: #9222c7; border-color: black; border-width: 2px;">
						<center><a style="background-color: blueviolet; border-color: black; border-width: 3px;"
								class="btn btn-primary" th:href="@{/armas/editar/} + ${arma.id}" th:text="'Editar'" />
						</center>
					</td>
					<td style="background-color: #c7329d; border-color: black; border-width: 2px;">
						<center>
							<button style="background-color: mediumvioletred; border-color: black; border-width: 3px;"
								class="btn btn-danger" th:href="@{/eliminar/} + ${arma.id}" th:text="'Eliminar'"
								onclick="confirmDelete(event)">
							</button>
						</center>
					</td>
					<!-- <td style="background-color: #c7329d; border-color: black; border-width: 2px;">
						 <center><a style="background-color: mediumvioletred; border-color: black; border-width: 3px;"
								class="btn btn-danger" th:href="@{/eliminar/} + ${arma.id}" th:text="'Eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');" /></center>
					</td> -->
				</tr>
			</tbody>
		</table>


		<div style="text-align-last: center;">
			<th:block th:if="${armas.number > 0}">
				<a style="background-color: violet; border-color: black; border-width: 3px;" class="btn btn-warning "
					th:href="@{/armas(page=__${armas.number - 1}__) }">&laquo; Anterior</a>
			</th:block>
			<th:block th:if="${armas.hasNext()}">
				<a style="background-color: violet; border-color: black; border-width: 3px;" class="btn btn-warning"
					th:href="@{/armas(page=__${armas.number + 1}__) }">Siguiente &raquo;</a>
			</th:block>
		</div>


		<script>
			function confirmDelete(event) {
				event.preventDefault();
				Swal.fire({
					title: '¿Estás seguro que quieres eliminar?',
					icon: 'warning',
					showCancelButton: true,
					confirmButtonColor: 'mediumvioletred',
					cancelButtonColor: 'grey',
					confirmButtonText: 'Sí, eliminar',
					cancelButtonText: 'Cancelar'
				}).then((result) => {
					if (result.isConfirmed) {
						window.location.href = event.target.getAttribute('href');
					}
				})
			}
		</script>
		<script>
			$(document).ready(function () {
				$('.nombre-arma').click(function () {
					var id = $(this).parent().data('id');
					$.ajax({
						url: '/armas/detalles/' + id,
						success: function (data) {
							var detalles = $('.detalles', '[data-id="' + id + '"]');
							detalles.html('<p>' + data.descripcion + '</p><img src="' + data.imagen + '">');
						}
					});
				});
			});
		</script>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
</body>

</html>